body {
    display: flex;
    flex-direction: column;
    font-family: 'Arimo', sans-serif;
    font-size: 16px; /* Slightly increased for general readability */
    margin: 0;
    color: #333333; /* Dark gray for main text */
    background-color: #FAFAFA; /* Light gray background */
}
a {
    font-weight: bold;
    color: #0056b3; /* Soft blue for links */
    text-decoration: none; /* Remove underline */
    margin-top: 4px;
}
*.header {
    color: #ffffff;
    background-color: #6C7A89; /* Soft slate gray for header background */
    padding: 16px;
    border-bottom: #95A5A6 12px solid; /* Lighter shade of gray for separation */
    -webkit-print-color-adjust: exact;
}
*.header a {
    color: #BDC3C7; /* Light silver color for links in the header */
    font-weight: normal;
}
*.name {
    font-size: 40px; /* Header size, could adjust if too large */
    font-weight: bold;
}
*.info-row {
    margin-top: 4px;
    margin-left: 4px;
    display: flex;
    flex-direction: row;
}
*.info-type {
    width: 120;
}
*.info-content a {
    color: #117733;
    font-weight: bold;
}
*.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
*.general-info {
    padding-bottom: 24px;
}
*.section {
    display: flex;
    flex-direction: column;
}
*.section-header {
    font-size: 18px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-bottom: 1px #BDC3C7 solid; /* Consistent with header link colors */
    font-weight: bold;
}
*.date {
    flex: 0 0 100px;
    font-size: 16px; /* Ensuring date has appropriate emphasis */
    font-weight: bold;
    color: #666666;
}
*.subsection {
    margin-bottom: 16px;
}
*.subsection-grid {
    display: flex;
    flex-direction: row;
}
*.subsec-header {
    font-size: 18px; /* Standardized for visibility */
    font-weight: bold;
}
*.subsec-subtitle {
    font-style: italic;
    margin-top: 6px;
    margin-bottom: 6px;
}
*.subsec-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
*.load-bar {
    display: flex;
    flex: 0 0 300px;
    margin-bottom: 32px;
}
*.load-bar-bg {
    height: 16px;
    background-color: #BDC3C7; /* Light silver for the load bar background */
    width: 100%;
}
*.excellent, *.very-good, *.good {
    height: 100%;
    background-color: #3498DB; /* Bright blue for excellent, very good, and good bars */
}
*.comment {
    padding-top: 8px;
    text-align: right;
}
*.subsec-content {
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 1.6; /* Increase line height for readability */
}
.author-highlight {
}
*.article-authors {
    margin-left: 16px;
}
*.article-name {
    font-weight: bold;
}
*.article-info {
    font-style: italic;
    margin-left: 16px;
}
*.article-links a {
    font-weight: 300;
    font-size: 14px;
    margin-left: 16px;
}
.article:not(:last-child) {
    margin-bottom: 24px;
}

.course-list {
    display: flex;
    flex-direction: column;
}
.course {
    display: flex;
    margin-bottom: 8px;
}
.course-name {
    min-width: 300px; /* Adjust this value as needed */
    font-weight: bold;
}
.course-description {
    flex-grow: 1;
}